.content.container
  %br
  .panel.panel-info
    .panel-heading
      %ul.nav.nav-tabs
        %li{:role => "presentation"}
          %a{:href => "#"} 联系厂家
        %li{:role => "presentation"}
          %a{:href => "#"} 更多信息
        %li.dropdown{:role => "presentation"}
          %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            分享
            %span.caret
          %ul.dropdown-menu
            %li
              %a{:href => "#"} 微信
            %li
              %a{:href => "#"} 新浪微博
            %li
              %a{:href => "#"} facebook
            %li
              %a{:href => "#"} google+
            %li
              %a{:href => "#"} twitter
    .panel-body
      .cycle-slideshow.auto{"data-cycle-fx" => "scrollHorz", "data-cycle-loader" => "true", "data-cycle-progressive" => "#images", "data-cycle-timeout" => "0", "data-cycle-center-horz"=>"true",
    "data-cycle-center-vert"=>"true", "data-cycle-swipe"=>"true",
    "data-cycle-swipe-fx"=>"scrollHorz"}
        .cycle-prev
        .cycle-next
        %img{:src => "#{@catalogue.first_image_url}"}
        %script#images{:type => "text/cycle"}
          -@catalogue.remaining_image_urls.each do |url|
            %img{src: url}